.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 12px;
  color: #e9ebee;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#map {
  height: 300px;
  width: 100%;
}

.pac-container {
  background-color: #e9ebee;
}

.grid1 {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 100%;
  background-color: #e9ebee;
}

a:link {
  color: rgb(64, 133, 167);
}
a:visited {
  color: rgb(116, 84, 156);
}

.grid1:after {
  content: "";
  display: table;
  clear: both;
}
.grid2 {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.grid2:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.sticky-grid-heading {
  position: fixed;
  top: 300px;
  width: 100%;
}

.row1 {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  display:table;
  width: 96%;
}
.item1-left {
  margin-bottom: 2%;
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 4%;
  border-bottom: 1px solid rgb(139, 139, 139);
  display: table-cell;
  width: 48%;
  vertical-align: top;
}
.item1-center {
  width: 5%;
}

.item1-right {
  margin-bottom: 2%;
  margin-top: 1%;
  padding-left: 4%;
  padding-right: 2%;
  border-bottom: 1px solid rgb(139, 139, 139);
  display: table-cell;
  width: 48%;
  vertical-align: top;
}

.row2 {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  display:table;
  width: 96%;
}

.item2-center {
  width: 5%;
}

.item2-left {
  margin-bottom: 2%;
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 4%;
  border-bottom: 1px solid rgb(170, 170, 170);
  display: table-cell;
  width: 48%;
  vertical-align: top;
}
.item2-left-empty {
  margin-bottom: 2%;
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 4%;
  display: table-cell;
  width: 48%;
  vertical-align: top;
}

.item2-right {
  margin-bottom: 2%;
  margin-top: 1%;
  padding-left: 4%;
  padding-right: 2%;
  border-bottom: 1px solid rgb(170, 170, 170);
  display: table-cell;
  width: 48%;
  vertical-align: top;
}
.item2-right-empty {
  margin-bottom: 2%;
  margin-top: 1%;
  padding-left: 4%;
  padding-right: 2%;
  display: table-cell;
  width: 48%;
  vertical-align: top;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  background-color: #e9ebee;
  border:0px solid #e9ebee;
  padding: 4px;
  width: 25%;
  min-width: 185px;
  outline-width: 0;
  border-radius: 2px;
}

.loader-activated {
  display: block;
}

#loader {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: show;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

#submit-button {
  margin-left: -1000px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
